@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<section id="container">
	<div id="nav-above" class="navigation">
		<div class="nav-previous">
			<a href="#" rel="prev">
				<span class="meta-nav">←</span>
			</a>
		</div>
		<div class="nav-next">
			<a href="#" rel="next">
				<span class="meta-nav">→</span>
			</a>
		</div>
	</div>
	<div id="gallery">
		<div class="galleryRow">
			<div class="galleryContent">
				<a href="Product.html">
					<h2 class="galleryImageName">Image Name</h2>
					<img class="galleryImage" src="img/profile.jpg" alt="product" />
				</a>
			</div>
			<div class="galleryContent">
				<a href="Product.html">
					<h2 class="galleryImageName">Image Name</h2>
					<img class="galleryImage" src="img/profile.jpg" alt="product" />
				</a>
			</div>
			<div class="galleryContent">
				<a href="Product.html">
					<h2 class="galleryImageName">Image Name</h2>
					<img class="galleryImage" src="img/profile.jpg" alt="product" />
				</a>
			</div>
			<div class="galleryContent">
				<a href="Product.html">
					<h2 class="galleryImageName">Image Name</h2>
					<img class="galleryImage" src="img/profile.jpg" alt="product" />
				</a>
			</div>
		</div>
	</div>
</section>